@font-face 
	font-family: 'Roboto'
	src: url('fonts/Roboto-Light.woff') format('woff')
	src: url('fonts/Roboto-Light.woff2') format('woff2')
	font-weight: 300
	font-style: normal
@font-face 
	font-family: 'Roboto'
	src: url('fonts/Roboto-Regular.woff') format('woff')
	src: url('fonts/Roboto-Regular.woff2') format('woff2')
	font-weight: normal
	font-style: normal
@font-face 
	font-family: 'Roboto'
	src: url('fonts/Roboto-Bold.woff') format('woff')
	src: url('fonts/Roboto-Bold.woff2') format('woff2')
	font-weight: bold
	font-style: normal
=title($fz, $lh, $color: #676767, $fw:normal)
	font-size: $fz
	font-weight: $fw
	line-height: $lh
	color: $color
	margin-bottom: 30px
=triangle($fz, $color, $t-sh)
	width: 0
	height: 0
	font-size: $fz
	color: $color
	text-shadow: $t-sh
	+origin
=rect($width, $height, $bg-color: #fff)
	width: $width
	height: $height
	background-color: $bg-color
=shadow($shadow)
	-webkit-box-shadow: $shadow
	-moz-box-shadow: $shadow
	box-shadow: $shadow
=rotate($deg)
	-ms-transform: rotate($deg)
	-moz-transform: rotate($deg)
	-o-transform: rotate($deg)
	-webkit-transform: rotate($deg)
	transform: rotate($deg)
=origin($val: right top)
	-webkit-transform-origin: $val
	-moz-transform-origin: $val
	-o-transform-origin: $val
	-ms-transform-origin: $val
	transform-origin: $val
=pos($left, $top)
	content: ""
	position: absolute
	left: $left
	top: $top
	z-index: 3
=bg-full($color)
	+pos(-50%, 0)
	+rect(200%, 100%, $color)
	z-index: -1
=d-flex
	display: -webkit-box
	display: -ms-flexbox
	display: flex
=align-center
	-webkit-box-align: center
	-ms-flex-align: center
	align-items: center
=flex-column
	-webkit-box-orient: vertical
	-webkit-box-direction: normal
	-ms-flex-direction: column
	flex-direction: column
=center-block
	display: block
	margin-left: auto
	margin-right: auto

*
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	box-sizing: border-box
	position: relative
	padding: 0
	margin: 0

body
	font-family: 'Roboto', sans-serif
	font-weight: normal
	font-size: 18px
	line-height: 24px
	color: #888888
	word-break: break-word
a 
	color: inherit
	text-decoration: none
	&:hover
		text-decoration: underline
p 
	margin-bottom: 30px
img
	max-width: 100%
	height: auto
ul, ol
	margin-bottom: 30px

ul 
	list-style: none
	& li:before
		content: ""
		vertical-align: baseline
		display: inline-block
		margin-right: 10px
		+rect(10px, 10px, #84AEFF)
		+rotate(45deg)
ol
	list-style: none
	counter-reset: num
	& li:before
		counter-increment: num
		content: counter(num)
		display: inline-block
		margin-right: 10px
		margin-left: 20px
		color: #84AEFF
.text-center
	text-align: center
.overflow-hidden
	overflow: hidden
h1 
	+title(30px, 35px)
	margin-bottom: 15px
h2
	+title(22px, 26px)
.small-title
	+title(20px, 23px, $fw:bold)
	margin-bottom: 20px
.sec-title
	padding-left: 30px
	+title(25px, 29px, $fw:300)
	&:before
		+pos(0, 10px)
	&:after
		+pos(5px, 18px)
	&:before, &:after
		+rect(12px, 8px, #FFD584)
.red
	color: #E1837D
	font-style: italic
	font-weight: bold
.blue 
	color: #84AEFF
.big-title 
	+title(40px, 47px)
	margin-bottom: 0
.w-c-94
	width: 946px
	+center-block
	@media screen and (max-width: 991px)
		&
			width: unset
			margin-left: 15px
			margin-right: 15px
.w-c-75
	width: 750px
	+center-block
	@media screen and (max-width: 991px)
		&
			width: unset
			margin-left: 30px
			margin-right: 30px
.d-flex
	+d-flex
.section-decor-block
	height: 340px
	margin-bottom: 30px
.blue-devider
	+rect(67px, 2px, #84AEFF)
	margin-bottom: 30px
.device-images
	+d-flex
	-webkit-box-align: end
	-ms-flex-align: end
	align-items: flex-end
	margin-left: auto
	margin-right: auto

.iframe-wr
	min-height: 462px
	position: relative
	display: block
	max-width: 100%
	padding: 0
	overflow: hidden
	padding-top: 34.25%
	margin-bottom: 30px
.iframe-wr iframe
	position: absolute
	top: 0
	bottom: 0
	left: 0
	width: 100%
	height: 100%
	border: 0
.grey
	color: #8E8E8E
.center-vertically
	-webkit-box-align: center
	-ms-flex-align: center
	align-items: center
	-webkit-box-pack: center
	-ms-flex-pack: center
	justify-content: center

.site-wr
	padding: 90px 0 0 0
.top-imgs	
	margin-bottom: 30px
.top-imgs__decor-1
	+rect(56px, 56px, #A5CEFF)
	+shadow(0px 8px 6px rgba(171, 240, 255, 0.47))
	+rotate(64.9deg)
	+pos(220px, -25px)
.top-imgs__decor-2
	+rect(93px, 93px, #C7FFA5)
	+shadow(0px 8px 6px rgba(199, 255, 165, 0.69))
	+rotate(26.2deg)
	+pos(495px, -45px)
.top-imgs__decor-3
	+rect(93px, 93px, #A5CEFF)
	+shadow(0px 8px 6px rgba(171, 240, 255, 0.47))
	+rotate(26.2deg)
	+pos(-25px, 87%)
.top-imgs__decor-4
	+rect(93px, 93px, #FFD584)
	+shadow(0px 8px 6px rgba(255, 213, 132, 0.78))
	+rotate(64.9deg)
	+pos(87%, 87%)
.top-imgs
	height: 340px
	background: url(../img/top-bg-1.jpg) left center no-repeat
	background-size: cover
	margin-bottom: 30px

.diod-decor-block
	background: #EFFF8A
	padding: 30px

.diod__decor-1
	+pos(14%,  5px)
.diod__decor-2
	+pos(55%, 40px)
.diod__decor-3
	+pos(75%, 10px)
.diod__decor-4
	+pos(20%, 70%)
.diod__decor-5
	+pos(66%, 57%)
.diod-text
	width: 360px 
	margin-right: 30px
	margin-bottom: 10px
.diod-img
	+shadow(5px 5px 10px rgba(0, 0, 0, 0.07) )
	height: 120px
	img
		height: 120px
		max-width: unset
.diod-img__decor
	+rect(180.56px, 180.56px, #B9F1CF)
	+rotate(-60deg)
	+pos(18%, 7%)
	z-index: -1
.rc-block
	background: #222222 url(../img/papers.png) right bottom no-repeat
	padding: 60px 30px 30px 100px
	background-size: contain
.rc-block, .laser-block
	& .big-title
		color: #ECECEC
.rc-decor-1
	+pos(452px, 40px)
.rc-decor-2
	+pos(13%, 57%)
.rc-decor-3
	+pos(35%, 60%)

.blue-filled-bg
	margin-bottom: 30px
	padding: 20px 20px 20px 0
	color: #464646
	&:before
		+bg-full(#E3F5FF)
.red-filled-bg
	margin-bottom: 30px
	padding: 20px
	color: #ffffff
	&:before
		+bg-full(#FA8888)
.device-specs
	padding: 30px 0
	color: #9D9D9D
	margin-bottom: 20px
	&:before
		+bg-full(#FCFFD9)
.spec-item
	width: 50%
	&:nth-of-type(1)
		padding-right: 60px
	div
		margin-bottom: 15px
		&:last-of-type
			margin-bottom: 0
.pluses-minuses
	padding: 30px 90px 30px 35px
	color: #6D6D6D
	margin-bottom: 30px
	& p:last-of-type
		margin-bottom: 0

	background: rgb(174,245,181)
	background: -moz-linear-gradient(142deg, rgba(174,245,181,1) -8.94%, rgba(255,190,190,1) 102.95%)
	background: -webkit-linear-gradient(142deg, rgba(174,245,181,1) -8.94%, rgba(255,190,190,1) 102.95%)
	background: linear-gradient(142deg, rgba(174,245,181,1) -8.94%, rgba(255,190,190,1) 102.95%)
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#aef5b5",endColorstr="#ffbebe",GradientType=1)

.rating
	-ms-flex-negative: 0
	flex-shrink: 0
	width: 556px
	padding: 30px 25px
	+title(16px, 28px, #929292, 300)
	+shadow(5px 5px 10px rgba(0, 0, 0, 0.15) )

	& p:last-of-type
		margin-bottom: 0

	background: rgb(124,161,232)
	background: -moz-linear-gradient(180deg, rgba(124,161,232,1) 0%, rgba(172,124,232,0.73) 100%)
	background: -webkit-linear-gradient(180deg, rgba(124,161,232,1) 0%, rgba(172,124,232,0.73) 100%)
	background: linear-gradient(180deg, rgba(124,161,232,1) 0%, rgba(172,124,232,0.73) 100%)
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#7ca1e8",endColorstr="#ac7ce8",GradientType=1)
.rating__title, .total-rating
	color: #FFFFFF
.rating__item
	border: 1px solid #FFFFFF
	margin-bottom: 13px
	padding: 0 10px
.rating__text
	margin-bottom: 0
.rating__percentage
	background: #B8FFCC
	height: 100%
	position: absolute
	left: 0
.total-rating
	margin: 10px 0 0
	float: right
.manufacturer
	padding: 60px 10px 10px 30px
	color: #000000
	font-weight: 300
.manufacturer-info
	margin-bottom: 5px
.mb-15
	margin-bottom: 15px
.lightSheer__decor-img
	+rect(90%, 50%, #D3F5FF)
	+pos(-75px, 55%)
	z-index: -1

/* images */

.lutronic-imgs, .palomar-imgs, .kiers-kes-145-imgs
	+align-center
.mediostar-imgs, .candela-imgs
	img
		+center-block
@media screen and (min-width: 992px)
	.capello-imgs
		img:nth-of-type(2)
			margin-left: 60px
	.motion-d1-imgs
		img:nth-of-type(2)
			margin-left: -60px
	.motion-d2-imgs, .kiers-kes-145-imgs
		img:nth-of-type(1)
			margin-left: -60px
			margin-right: 90px
	.lightSheer-imgs
		img:nth-of-type(1)
			margin-right: 90px
	.magic-one-imgs, .ruikd-imgs
		& img:nth-of-type(1)
			margin-left: -90px
	.vikini-imgs
		img:nth-of-type(1)
			margin-left: 190px
		img:nth-of-type(2)
			+pos(0, 20%)
	.motus-imgs, .picoSure-imgs,.pacer-one-imgs
		img:nth-of-type(2)
			margin-left: -190px
	.soprano-imgs
		img:nth-of-type(2)
			margin-left: 60px
	.kiers-kes-imgs
		img:nth-of-type(1)
			margin-left: -90px
	.windgerm-imgs
		img:nth-of-type(1)
			margin-left: -130px

/* end images */

.laser-block
	background: #222222
	padding: 20px
.laser__decor-1
	+rect(84px, 84px, rgba(89, 210, 131, 0.8))
	+rotate(-20deg)
	+pos(15%, 32px)
.laser__decor-2
	+rect(121.7px, 16.58px, rgba(154, 158, 255, 0.8))
	+rotate(-20deg)	
	+pos(63%, 16%)
.laser__decor-3
	+rect(204px, 35px, rgba(255, 148, 148, 0.8))
	+pos(0, 91%)
.laser__decor-4
	+rect(55.33px, 55.33px, rgba(253, 255, 135, 0.8))
	+rotate(-50.69deg)	
	+pos(70%, 70%)
.photolaser-block
	background: #80A3FF url(../img/photoepil.png) right bottom no-repeat
	padding: 20px
	.big-title
		color: #ffffff 
.attention-block
	background: #8EBBFF
.attention-title
	+title(50px, 66px, #FF4646)
	&:before, &:after
		content: "" 
		width: 110px
		height: 145px
		background: url(../img/fire.png) center no-repeat
		background-size: cover
		display: inline-block
		vertical-align: middle
	&:before
		margin-right: 30px
	&:after
		margin-left: 30px
.attention__decor-1
	+rect(63px, 63px, rgba(144, 85, 240, 0.6))
	+pos(7%, 21%)
.attention__decor-2
	+rect(15.5px, 15.5px, rgba(83, 254, 223, 0.6))
	+pos(42%, 12%)
.attention__decor-3
	+rect(83.52px, 83.52px, rgba(255, 148, 148, 0.6))
	+pos(82%, -30px)
.attention__decor-1, .attention__decor-2, .attention__decor-3, .attention__decor-4, .attention__decor-5, .attention__decor-6
	+shadow(5px 5px 10px rgba(0, 0, 0, 0.15))
.attention__decor-1, .attention__decor-2, .attention__decor-3
	+rotate(-29.61deg)	

.attention__decor-4
	+rect(92.82px, 92.82px, rgba(167, 255, 145, 0.6))
	+pos(10%, 80%)
	+rotate(-69.99deg)
.attention__decor-5
	+rect(8.15px, 84.38px, rgba(107, 149, 255, 0.6))
	+pos(55%, 60%)
	+rotate(-82.52deg)
.attention__decor-6
	+rect(243.13px, 243.13px, rgba(249, 255, 175, 0.6))
	+pos(80%, 60%)
	+rotate(25.11deg)
footer
	padding: 60px 0
	margin-top: 90px
	background-color: #1B1B1B
	color: #D8D8D8
	font-size: 30px
	line-height: 53px
	a 
		color: #5E9CFA
.bigger-title
	font-size: 40px

@media screen and (min-width: 701px)
	footer img
		+pos(50%, -60%)
@media screen and (max-width: 1300px)
	.pacer-one-imgs
		img:nth-of-type(1)
			width: 45%
		img:nth-of-type(2)
			width: 60%
			margin-left: 0
	.honor-ice-imgs
		img:nth-of-type(2)
			width: 60%
	.picoSure-imgs
		img:nth-of-type(1)
			width: 65%
	.picoSure-imgs img:nth-of-type(2)
		margin-left: -130px
@media screen and (max-width: 991px)
	.site-wr
		padding-top: 50px
	.more-info
		+flex-column
		+align-center
		margin-bottom:40px
	.rating
		max-width: 100%
	.manufacturer
		padding-top: 0
	.device-images
		img
			width: 50%
	.mediostar-imgs, .candela-imgs
		img
			width: 90%
	.photolaser-block
		background-size: 50%
	.attention__decor-1
		top: 5%
	.attention__decor-6
		top: 75%
@media screen and (max-width: 700px)
	.specs-wr, .diod-wr
		+flex-column
	.diod-wr
		+align-center
		.diod-text
			width: unset
		.diod-img
			margin-bottom: 15px
	.rc-block
		padding-left: 30px
	.spec-item
		width: 90%
		+center-block
		&:nth-of-type(1)
			padding: 0
			margin-bottom: 20px
		& br 
			display: none
	.picoSure-imgs 
		img:nth-of-type(2)
			margin-left: -90px
	.attention-title
		font-size: 40px
		line-height: 40px
		&:before, &:after
			width: 60px
			height: 70px
		&:before
			margin-right: 15px
		&:after
			margin-left: 15px

	footer
		margin-top: 60px
		img
			+center-block
			margin-top: -90px
@media screen and (max-width: 475px)
	.top-imgs
		background: url(../img/top-1.png) left bottom no-repeat 
		height: 217px
	.rc-block
		padding-left: 15px
		padding-right: 15px
	.rc-decor-3
		display: none
	.big-title 
		font-size: 30px
		line-height: 40px
	.w-c-75
		margin-left: 15px
		margin-right: 15px
	.more-info, .pluses-minuses
		margin-left: 0
		margin-right: 0
	.rating, .pluses-minuses
		padding-left: 15px
		padding-right: 15px
	.picoSure-imgs 
		img:nth-of-type(2)
			margin-left: 0
		img:nth-of-type(1)
			width: 50%
	.attention-title
		font-size: 30px
		line-height: 40px
		&:before, &:after
			width: 30px
			height: 40px
	footer, .bigger-title
		font-size: 30px
		line-height: 40px

/* youtube iframe styles */

.youtube
	background-color: #000
	margin-bottom: 30px
	position: relative
	padding-top: 56.25%
	overflow: hidden
	cursor: pointer

.youtube img
	width: 100%
	top: -16.84%
	left: 0
	opacity: 0.7

.youtube .play-button
	width: 70px
	height: 50px
	background-color: #212121
	box-shadow: 0 0 30px rgba( 0,0,0,0.6 )
	z-index: 1
	opacity: 0.8
	border-radius: 6px
	-moz-transition: background-color .1s ease, opacity .1s ease
	-webkit-transition: background-color .1s ease, opacity .1s ease
	transition: background-color .1s ease, opacity .1s ease

.youtube .play-button:before
	content: ""
	border-style: solid
	border-width: 10px 0 10px 20px
	border-color: transparent transparent transparent #fff

.youtube img,
.youtube .play-button
	cursor: pointer

.youtube img,
.youtube iframe,
.youtube .play-button,
.youtube .play-button:before
	position: absolute

.youtube .play-button,
.youtube .play-button:before
	top: 50%
	left: 50%
	transform: translate( -50%, -50% )

.youtube iframe
	height: 100%
	width: 100%
	top: 0
	left: 0

.youtube:hover .play-button
	background-color: #f00
	opacity: 1
